USE [kavitha]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Department] [nvarchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[PaymentDate] [date] NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[name] [nchar](10) NULL,
	[age] [nchar](10) NULL,
	[address] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_data]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_data](
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_Test_data] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
/****** Object:  StoredProcedure [dbo].[AddEmployee]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 1: Add New Employee
CREATE PROCEDURE [dbo].[AddEmployee]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Department NVARCHAR(50),
    @Salary DECIMAL(10, 2)
AS
BEGIN
--select table insert
    INSERT INTO Employees (FirstName, LastName, Email, Department, Salary)
    VALUES (@FirstName, @LastName, @Email, @Department, @Salary);
END;
GO
/****** Object:  StoredProcedure [dbo].[CountEmployees]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 8: Count Employees
CREATE PROCEDURE [dbo].[CountEmployees]
AS
BEGIN
--test
    SELECT COUNT(*) AS TotalEmployees FROM Employees;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 5: Delete Employee
CREATE PROCEDURE [dbo].[DeleteEmployee]
    @EmployeeID INT
AS
BEGIN
    DELETE FROM Employees WHERE EmployeeID = @EmployeeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllEmployees]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 2: Get All Employees
CREATE PROCEDURE [dbo].[GetAllEmployees]
AS
BEGIN
    SELECT * FROM Employees;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAverageSalaryByDepartment]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 9: Get Average Salary by Department
CREATE PROCEDURE [dbo].[GetAverageSalaryByDepartment]
AS
BEGIN
    SELECT Department, AVG(Salary) AS AverageSalary
    FROM Employees
    GROUP BY Department;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerOrders]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerOrders]
    @CustomerID INT
AS
BEGIN
    SELECT 
        C.CustomerName,
        O.OrderID,
        O.OrderDate,
        OD.Quantity,
        PR.Price,
        Pay.PaymentDate,
        Pay.Amount,
        Pay.PaymentMethod
    FROM Customers C
    INNER JOIN Orders O ON C.CustomerID = O.CustomerID
    INNER JOIN OrderDetails OD ON O.OrderID = OD.OrderID
    INNER JOIN Products PR ON OD.ProductID = PR.ProductID
    INNER JOIN Payments Pay ON O.OrderID = Pay.OrderID
    WHERE C.CustomerID = @CustomerID
    ORDER BY O.OrderDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeById]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 3: Get Employee by ID
CREATE PROCEDURE [dbo].[GetEmployeeById]
    @EmployeeID INT
AS
BEGIN
    SELECT * FROM Employees WHERE EmployeeID = @EmployeeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeesByDepartment]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 6: Get Employees by Department
CREATE PROCEDURE [dbo].[GetEmployeesByDepartment]
    @Department NVARCHAR(50)
AS
BEGIN
    SELECT * FROM Employees WHERE Department = @Department;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetHighSalaryEmployees]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 7: Get Employees with Salary Above a Threshold
CREATE PROCEDURE [dbo].[GetHighSalaryEmployees]
    @MinSalary DECIMAL(10,2)
AS
BEGIN
    SELECT * FROM Employees WHERE Salary >= @MinSalary;
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchEmployeesByName]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 10: Search Employees by Name
CREATE PROCEDURE [dbo].[SearchEmployeesByName]
    @SearchTerm NVARCHAR(50)
AS
BEGIN
    SELECT * FROM Employees
    WHERE FirstName LIKE '%' + @SearchTerm + '%'
       OR LastName LIKE '%' + @SearchTerm + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee]    Script Date: 04-08-2025 22:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure 4: Update Employee
CREATE PROCEDURE [dbo].[UpdateEmployee]
    @EmployeeID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Department NVARCHAR(50),
    @Salary DECIMAL(10, 2)
AS
BEGIN
    UPDATE Employees
    SET FirstName = @FirstName,
        LastName = @LastName,
        Email = @Email,
        Department = @Department,
        Salary = @Salary
    WHERE EmployeeID = @EmployeeID;
END;
GO
